<h1>New User</h1>

<%= form_for @user, :url => costumers_path  do |form| %>
  <%= form.label :name %> <br>
  <%= form.text_field :name, class: "input is-rounded is-primary" %>
  <%= form.label :surname %> <br>
  <%= form.text_field :surname, class: "input is-rounded is-primary" %>
  <%= form.label :address %> <br>
  <%= form.text_field :address, class: "input is-rounded is-primary" %>
  <%= form.label :phone %> <br>
  <%= form.text_field :phone, type: 'number', class: "input is-rounded is-primary" %>
  <%= form.label :email %> <br>
  <%= form.text_field :email, type: 'email', class: "input is-rounded is-primary" %>
  <%= form.label :password %> <br>
  <%= form.text_field :password, type: 'password', class: "input is-rounded is-primary" %>
  <%= form.label :id_number %> <br>
  <%= form.text_field :id_number, type: 'number', class: "input is-rounded is-primary" %> <br> <br>
  <%= form.submit "Submit", class: "button is-link" %>
<% end %>