<h1>Index Customers</h1>
<%= link_to('New customers', new_customer_path, class: 'button is-primary is-rounded is-normal') %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Id Number</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.surname %></td>
        <td><%= user.address %></td>
        <td><%= user.phone %></td>
        <td><%= user.email %></td>
        <td><%= user.id_number %></td>
      </tr>
    <% end %>
  </tbody>
</table>