<%= render "users/shared/error_messages", resource: resource %>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'box' }) do |f| %>

  <div class="field">
    <%= f.label :email, class: 'label' %>
    <div class="control has-icons-left">
      <%= f.email_field :email, autofocus: true, autocomplete: 'email', placeholder: 'e.g. bobsmith@gmail.com', class: 'input', required: true %>
      <span class="icon is-small is-left">
        <i class="fa fa-envelope"></i>
      </span>
    </div>
  </div>

  <div class="field">
    <%= f.submit 'Send me reset password instructions', class: 'button is-success' %>
  </div>

  <%= render "users/shared/links" %>
<% end %>
