<h1>Cars Index</h1>
<%= link_to('New car', new_car_path, class: 'button is-primary is-rounded is-normal') %>

<table>
  <thead>
    <tr>
      <th>Registration Plate</th>
      <th>Type of car</th>
      <th>Model</th>
      <th>Year</th>
      <th>Color</th>
      <th>Brand</th>
      <th>User Id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.registration_plate %></td>
        <td><%= car.type_of_car %></td>
        <td><%= car.model %></td>
        <td><%= car.year %></td>
        <td><%= car.color %></td>
        <td><%= car.brand %></td>
        <td><%= car.user_id %></td>
        <%#= link_to "Delete Book", @book, method: "delete", { confirm: "Are you sure?", disable_with: "Processing..." } %>
      </tr>
    <% end %>
  </tbody>
</table>