<h1>New Cars</h1>

<%= form_for @car do |form| %>
  <%= form.label :registration_plate %>
  <%= form.text_field :registration_plate %>
  <%= form.label :type_of_car %>
  <%= form.text_field :type_of_car %>
  <%= form.label :model %>
  <%= form.text_field :model %>
  <%= form.label :year %>
  <%= form.text_field :year, type: 'number', step: 1, min: 1900, max: Date.current.year %>
  <%= form.label :color %>
  <%= form.text_field :color, type: 'color' %>
  <%= form.label :brand %>
  <%= form.text_field :brand %>
  <%= form.submit "Create" %>
<% end %>