<!DOCTYPE html>
<html>
  <head>
    <title>ParkHere</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'user', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Header -->
    <%= render partial: 'layouts/user/header' %>

    <!-- MISSING FLASH MESSAGES PARTIAL HERE -->
    <%= render partial: 'layouts/user/flash_messages' %>
    <section class="content">
      <!-- Sidebar -->
      <%= render partial: 'layouts/user/sidebar' %>

      <!-- Content -->
      <article class="is-medium">
        <%= yield %>
      </article>
    </section>
  </body>

  <!-- Footer -->
  <%= render partial: 'layouts/user/footer' %>
</html>
